body {
  font-family: sans-serif;
  margin: auto;
  max-width: 1280px;
}

body > div {
  margin: 0.25em 2em;
}

.navbar {
  background-color: #313236;
  border-radius: 2px;
  max-width: 800px;
}

.navbar a {
  color: #aaa;
  display: inline-block;
  font-size: 15px;
  padding: 10px;
  text-decoration: none;
}

.navbar a:hover {
  color: #ffffff;
}

div.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 0.75em;
}

div.container span {
  margin: 0.25em 2em;
}

input[type=button] {
  margin-top: 1em;
}

